body {
  font-family: 'Raleway', sans-serif; !important
}

.page-home-title {
	font-family: 'Raleway', sans-serif;
	font-size: 48pt;
  color: white;
  text-align: center;
}

.page-home-subtitle {
	font-family: 'Raleway', sans-serif;
  text-align: center;
	font-size: 16pt;
  color: white;
}
